.section-1 {
  height: 900px;
  padding-top: 57px;
  margin-top: 53px;
  background:transparent url('../i/bg-1.jpg') center center no-repeat;
  background-size: cover;
  // background-size: 100%;
  // animation: bgani 30s linear infinite;
}
