@font-face {
	font-family: 'expert';
	src:url('expert.eot?-259rn3');
	src:url('expert.eot?#iefix-259rn3') format('embedded-opentype'),
		url('expert.woff?-259rn3') format('woff'),
		url('expert.ttf?-259rn3') format('truetype'),
		url('expert.svg?-259rn3#expert') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'expert';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-binoculars:before {
	content: "\e600";
}
.icon-hands:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e602";
}
.icon-sofa:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e604";
}
.icon-bulb:before {
	content: "\e605";
}
.icon-gem:before {
	content: "\e606";
}
.icon-mail:before {
	content: "\e607";
}
.icon-briefcase:before {
	content: "\e608";
}
.icon-businessman:before {
	content: "\e609";
}
.icon-phone-alt:before {
	content: "\e60a";
}
.icon-wireframe:before {
	content: "\e60b";
}
.icon-family:before {
	content: "\e60c";
}
.icon-barrow:before {
	content: "\e60d";
}
.icon-house-ruler:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e60f";
}
.icon-ok:before {
	content: "\e610";
}
.icon-tools:before {
	content: "\e611";
}
.icon-contract:before {
	content: "\e612";
}
.icon-phone:before {
	content: "\e613";
}
.icon-arr-right:before {
	content: "\e614";
}
.icon-arr-left:before {
	content: "\e615";
}
