header.header
  .container
    a.header__logo(href="#")
      h2 Экспертиза
      small Группа компаний
    .header__phone
      i.icon-phone
      small Телефон для справок:
      h2 8 (423) 276 80 72
  .container
    .header__slogan Группа компаний <span>“Экспертиза”</span> оказывает услуги технического заказчика
