.slider
  .slider__nav
    .container.relative
      .slider__stripe
      nav
        ul
          li.active: a(href="#slide-1") Инженерные изыскания
          li: a(href="#slide-2") Проектирование
          li: a(href="#slide-3") Негосударственная экспертиза ПД и РИИ
      a(href="#").slider__arrow.slider__arrows__left: i.icon-arr-left
      a(href="#").slider__arrow.slider__arrows__right: i.icon-arr-right
  .slider__container
    ul
      li.slider__item#slide-1.active
        .container.relative
          h2.slider__item__title(style="font-size: 127px;") Инженерные изыскания
          .slider__item__content
            .col-1-3: p Геодезические<br>Геологические
            .col-1-3: p Гидрометеорологические<br>Экологические
            .col-1-3: p Кадастровый учет
      li.slider__item#slide-2
        .container.relative
          h2.slider__item__title(style="font-size: 100px;") ПРОЕКТИРОВАНИЕ
          .slider__item__content
            .col-1-2: p Общественные, жилые,<br>складские объекты.
            .col-1-2: p Все 12 разделов проектной<br>документации
      li.slider__item#slide-3
        .container.relative
          h2.slider__item__title Негосударственная экспертиза ПД и РИИ
          .slider__item__content
            .col-1-2: p Проводим негосударственную экспертизу проектной документации и результатов инженерных изысканий
            .col-1-2: p Свидетельства об аккредитации № РОСС RU.0001.610019 и № РОСС RU.0001.610042.
  .slider__form.contactform
    .container
      form(id="", method="", action="")
        input(type="text", placeholder="Ваше имя")
        input(type="tel", placeholder="Телефон")
        button Рассчитать стоимость
