.topbar
  .container
    nav
      ul
        li: a(data-scroll, data-options='{"offset": 90}', href="#slide-services") Услуги
        li: a(data-scroll, href="#slide-scheme") Как мы работаем
        li: a(data-scroll, data-options='{"offset": 90}', href="#slide-benefits") Наши преимущества
        li: a(data-scroll, href="#slide-testi") Отзывы
        li: a(data-scroll, href="#slide-contacts") Контакты
    button.topbar__callback Обратный звонок
