.topbar
  .container
    nav
      ul
        li: a(href="#") Услуги
        li: a(href="#") Как мы работаем
        li: a(href="#") Наши преимущества
        li: a(href="#") Отзывы
        li: a(href="#") Контакты
    button.topbar__callback Обратный звонок
